#background {
	-fx-background-color: #942B2B;
}

#background2 {
	-fx-background-color: #F5F6F2;
}

#nimiLabel {
	-fx-font-family: "Rockwell", Helvetica, Arial, sans-serif;
	-fx-font-size: 21pt;
	-fx-font-weight: bold;
}

#selitykset {
	-fx-font-family: "Rockwell", Helvetica, Arial, sans-serif;
	-fx-font-size: 15pt;
	-fx-font-weight: bold;
}