#background {
	-fx-color: #942B2B;
}

.button {
    -fx-background-radius: 30px;
    -fx-font-size: 9pt;
    -fx-font-family: "Rockwell", Helvetica, Arial, sans-serif;
    -fx-color: gold;
}

.button:hover {
	-fx-background-color: goldenrod;
}

#otsikko1 {
	-fx-font-family: "Rockwell", Helvetica, Arial, sans-serif;
	-fx-font-weight: bold;
    -fx-font-size: 45pt;
}

#otsikko2 {
	-fx-font-family: "Rockwell", Helvetica, Arial, sans-serif;
	-fx-font-weight: bold;
    -fx-font-size: 28pt;
    -fx-text-fill: gold;
}

#tulokset {
	-fx-font-family: "Rockwell", Helvetica, Arial, sans-serif;
	-fx-font-size: 14pt;
}

#syotteet {
	-fx-font-family: "Rockwell", Helvetica, Arial, sans-serif;
	-fx-font-size: 14pt;
}

#syotteetBackground {
	-fx-background-color: #F5F6F2;
}

#animointiBackground {
	-fx-background-color: #F5F6F2;
}

#palvelupisteTeksti {
	-fx-font-family: "Rockwell", Helvetica, Arial, sans-serif;
	-fx-font-weight: bold;
    -fx-font-size: 25pt;
}

#kasinonTulos {
	-fx-font-family: "Rockwell", Helvetica, Arial, sans-serif;
	-fx-font-weight: bold;
	-fx-font-size: 20pt;
}

#kasinonTulosEuroina {
	-fx-font-family: "Rockwell", Helvetica, Arial, sans-serif;
	-fx-font-size: 18pt;
}

#syoteTextField {
	-fx-font-family: "Rockwell", Helvetica, Arial, sans-serif;
	-fx-font-weight: bold;
	-fx-font-weight: bold;
}

.choice-box {
	-fx-font-family: "Rockwell", Helvetica, Arial, sans-serif;
	-fx-background-color: #942B2B;
}

.choice-box:hover {
	-fx-background-color: #570f0f;
}

.choice-box .context-menu {
	-fx-background-color: #942B2B;
}

.choice-box .menu-item:focused {
	-fx-background-color: #570f0f;
}

.choice-box .label {
	-fx-text-fill: white;
}

.slider .thumb {
	-fx-background-color: #942B2B;
}

.slider .thumb:hover {
	-fx-background-color: #570f0f;
}

#tekijat {
	-fx-font-family: "Rockwell", Helvetica, Arial, sans-serif;
	-fx-font-weight: bold;
	-fx-font-size: 16pt;
	-fx-mid-text-color: #942B2B;
}