#background {
	-fx-color: #942B2B;
}

.button {
    -fx-background-radius: 30px;
    -fx-font-size: 9pt;
    -fx-font-family: "Rockwell", Helvetica, Arial, sans-serif;
    -fx-color: gold;
}

.button:hover {
	-fx-background-color: goldenrod;
}

#otsikko1 {
	-fx-font-family: "Rockwell", Helvetica, Arial, sans-serif;
	-fx-font-weight: bold;
    -fx-font-size: 45pt;
}

#otsikko2 {
	-fx-font-family: "Rockwell", Helvetica, Arial, sans-serif;
	-fx-font-weight: bold;
    -fx-font-size: 28pt;
    -fx-text-fill: gold;
}

#tulokset {
	-fx-font-family: "Rockwell", Helvetica, Arial, sans-serif;
	-fx-font-size: 14pt;
}

#syotteet {
	-fx-font-family: "Rockwell", Helvetica, Arial, sans-serif;
	-fx-font-size: 14pt;
}

#syotteetBackground {
	-fx-background-color: #F5F6F2;
}

#animointiBackground {
	-fx-background-color: #F5F6F2;
}

#palvelupisteTeksti {
	-fx-font-family: "Rockwell", Helvetica, Arial, sans-serif;
	-fx-font-weight: bold;
    -fx-font-size: 20pt;
}

#kasinonTulos {
	-fx-font-family: "Rockwell", Helvetica, Arial, sans-serif;
	-fx-font-size: 18pt;
}

#syoteTextField {
	-fx-font-family: "Rockwell", Helvetica, Arial, sans-serif;
	-fx-font-weight: bold;
}

#jakaumatChoiceBox {
	-fx-font-family: "Rockwell", Helvetica, Arial, sans-serif;
}
