.background {
    -fx-background-color: #BD693F;
}

.button {
    -fx-background-radius: 10px;
    -fx-font-family: "Rockwell", Helvetica, Arial, sans-serif;
}

#otsikko1 {
	-fx-font-family: "Rockwell", Helvetica, Arial, sans-serif;
	-fx-font-weight: bold;
    -fx-font-size: 45pt;
}

#otsikko2 {
	-fx-font-family: "Rockwell", Helvetica, Arial, sans-serif;
	-fx-font-weight: bold;
    -fx-font-size: 28pt;
}

#tulokset {
	-fx-font-family: "Rockwell", Helvetica, Arial, sans-serif;
	-fx-font-size: 14pt;
}